SelfBuff(
    buildup_duration: 0.1,
    cast_duration: 0.1,
    recover_duration: 0.1,
    buffs: [
        BuffDesc(kind: StaggeringSmite, data: BuffData(strength: 14.0, duration: None)),
    ],
    buff_cat: Some(RemoveOnAttack),
    energy_cost: 25,
    enforced_limit: true,
)
