BasicRanged(
    energy_cost: 0,
    buildup_duration: 0.4,
    recover_duration: 0.3,
    projectile: (
        kind: Explosive(
            radius: 1.5,
            min_falloff: 0.5,
            reagent: Some(Green),
            terrain: None,
        ),
        attack: Some((
            damage: 14,
            energy: Some(5),
            damage_kind: Piercing,
        )),
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 60.0,
    num_projectiles: Value(1),
    meta: (school: Some(Conjuration), source: Some(Primordial)),
)
