BasicRanged(
    energy_cost: 90.0,
    buildup_duration: 0.5,
    recover_duration: 0.4,
    projectile: (
        kind: Simple,
        attack: Some((
            damage: 4,
            attack_effect: Some((
                Buff((
                    kind: Paralyzed,
                    dur_secs: 25,
                    strength: Value(1.0),
                    chance: 1.0,
                )),
                CasterLevelRoll((
                    unlock_level: 36,
                    fail_chance_at_unlock: 0.25,
                    fail_chance_at_max_level: 0.05,
                    source_classes: [Mage],
                )),
            )),
            damage_kind: Psychic,
        )),
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 50.0,
    num_projectiles: Value(1),
    meta: (
        school: Some(Enchantment),
        source: Some(Arcane),
        requirements: (min_level: Some(36)),
    ),
)
