BasicRanged(
    energy_cost: 260.0,
    buildup_duration: 1.0,
    recover_duration: 0.6,
    projectile: (
        kind: Simple,
        attack: Some((
            damage: 1,
            attack_effect: Some((
                AdditionalDamage(2000.0),
                All([
                    TargetHealthAtOrBelow((
                        base: 100.0,
                        breakpoint: 215.0,
                        scale: 0.33333334,
                    )),
                    CasterLevelRoll((
                        unlock_level: 50,
                        fail_chance_at_unlock: 0.25,
                        fail_chance_at_max_level: 0.05,
                        source_classes: [Mage, Sorcerer, Warlock, Bard],
                    )),
                ]),
            )),
            damage_kind: Psychic,
        )),
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 80.0,
    num_projectiles: Value(1),
    meta: (
        school: Some(Enchantment),
        source: Some(Arcane),
        requirements: (min_level: Some(50)),
    ),
)
