[
    (
        name: "Forest Settlement",
        position: (1, 1),
        kind: Settlement(Default),
        neighbors: [
            1,
            2,
        ],
        resources: [
            (
                good: Terrain(Forest),
                amount: 1000,
            ),
        ],
    ),
    (
        name: "Mountain Peak",
        position: (10, 10),
        kind: Settlement(Default),
        neighbors: [
            0,
        ],
        resources: [
            (
                good: Terrain(Mountain),
                amount: 1000,
            ),
        ],
    ),
    (
        name: "Farmer Village",
        position: (20, 10),
        kind: Settlement(Default),
        neighbors: [
            0,
        ],
        resources: [
            (
                good: Terrain(Grassland),
                amount: 1000,
            ),
        ],
    ),
]