(
    schema: "xindeler_open_world.authored_landmarks.v1",
    coordinate_space: "normalized_map_xy_top_left_origin",
    landmarks: [
        (
            id: "site.tree_of_life",
            name: "Tree of Life",
            kind: TreeOfLife,
            template: GiantTree,
            center: (x: 0.45266, y: 0.13178),
        ),
        (
            id: "site.the_tree_of_souls",
            name: "The Tree of Souls",
            kind: TreeOfSouls,
            template: GiantTree,
            center: (x: 0.60039, y: 0.89772),
        ),
        (
            id: "site.black_tower_south",
            name: "Black Tower",
            kind: BlackTower,
            template: Citadel,
            center: (x: 0.16987, y: 0.91497),
        ),
        (
            id: "site.black_tower_north",
            name: "Black Tower",
            kind: BlackTower,
            template: Citadel,
            center: (x: 0.32335, y: 0.23189),
        ),
        (
            id: "site.dove_point_lighthouse",
            name: "Dove Point Lighthouse",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.87334, y: 0.72057),
        ),
        (
            id: "site.red_lighthouse",
            name: "Red Lighthouse",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.37780, y: 0.54355),
        ),
        (
            id: "site.portland_lighthouse",
            name: "Portland Lighthouse",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.20957, y: 0.17394),
        ),
        (
            id: "site.kinderpon_beacon",
            name: "Kinderpon Beacon",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.14216, y: 0.32052),
        ),
        (
            id: "site.headlamp_tip",
            name: "Headlamp Tip",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.12262, y: 0.41042),
        ),
        (
            id: "site.faro_de_caros",
            name: "Faro De Caros",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.12018, y: 0.72573),
        ),
        (
            id: "site.faro_de_alzinder",
            name: "Faro De Alzinder",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.09275, y: 0.86043),
        ),
        (
            id: "site.bs_lighthouse",
            name: "BS Lighthouse",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.20176, y: 0.02997),
        ),
        (
            id: "site.kalitos_last_light",
            name: "Kalitos Last Light",
            kind: Lighthouse,
            template: Citadel,
            center: (x: 0.92788, y: 0.78191),
        ),
        (
            id: "site.temple_arch_wright",
            name: "Temple of the Arch-Wright",
            kind: ArchWrightTemple,
            template: ChapelSite,
            center: (x: 0.43332, y: 0.13699),
        ),
        (
            id: "site.kalthis_river_port",
            name: "Kalthis River Port",
            kind: Harbour,
            template: Citadel,
            center: (x: 0.23547, y: 0.16352),
        ),
        (
            id: "site.duren_river_port",
            name: "Duren River Port",
            kind: Harbour,
            template: Citadel,
            center: (x: 0.21886, y: 0.17459),
        ),
    ],
)
