(
    schema: "xindeler_open_world.authored_settlements.v1",
    coordinate_space: "normalized_map_xy_top_left_origin",
    settlements: [
        (
            id: "site.kalthis",
            name: "Kalthis",
            category: Capital,
            size: VeryLarge,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.22877, y: 0.16553),
            requires_capital_castle: true,
        ),
        (
            id: "site.bronze_shore",
            name: "Bronze Shore",
            category: Town,
            size: Medium,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.25403, y: 0.02541),
            requires_capital_castle: false,
        ),
        (
            id: "site.ravenfair",
            name: "Ravenfair",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.37372, y: 0.04104),
            requires_capital_castle: false,
        ),
        (
            id: "site.bg_west_post",
            name: "BG West Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.46996, y: 0.00717),
            requires_capital_castle: false,
        ),
        (
            id: "site.bg_central_post",
            name: "BG Central Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.50708, y: 0.00586),
            requires_capital_castle: false,
        ),
        (
            id: "site.bg_east_post",
            name: "BG East Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.55691, y: 0.00586),
            requires_capital_castle: false,
        ),
        (
            id: "site.evercross",
            name: "Evercross",
            category: Town,
            size: Medium,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.50708, y: 0.02280),
            requires_capital_castle: false,
        ),
        (
            id: "site.lighthill",
            name: "Lighthill",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.73747, y: 0.04625),
            requires_capital_castle: false,
        ),
        (
            id: "site.windgrave",
            name: "Windgrave",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Goblins, Dhampirs, Orc],
            ),
            center: (x: 0.93649, y: 0.03844),
            requires_capital_castle: false,
        ),
        (
            id: "site.green_post",
            name: "Green Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.94773, y: 0.07101),
            requires_capital_castle: false,
        ),
        (
            id: "site.farhaven",
            name: "Farhaven",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.84465, y: 0.11922),
            requires_capital_castle: false,
        ),
        (
            id: "site.gloomshear",
            name: "Gloomshear",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dhampirs],
            ),
            center: (x: 0.59697, y: 0.12964),
            requires_capital_castle: false,
        ),
        (
            id: "site.cutwood_town",
            name: "Cutwood Town",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Dhampirs],
            ),
            center: (x: 0.54763, y: 0.23844),
            requires_capital_castle: false,
        ),
        (
            id: "site.cutstone_city",
            name: "Cutstone City",
            category: City,
            size: Large,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins],
            ),
            center: (x: 0.57792, y: 0.30293),
            requires_capital_castle: false,
        ),
        (
            id: "site.falsepost",
            name: "Falsepost",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.71128, y: 0.29381),
            requires_capital_castle: false,
        ),
        (
            id: "site.wazir_town",
            name: "Wazir Town",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Dhampirs, Goblins, Orc],
            ),
            center: (x: 0.80117, y: 0.42215),
            requires_capital_castle: false,
        ),
        (
            id: "site.mordorin",
            name: "Mordorin",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Dhampirs, Goblins, Orc],
            ),
            center: (x: 0.91011, y: 0.31596),
            requires_capital_castle: false,
        ),
        (
            id: "site.fire_post_north",
            name: "Fire Post North",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.95603, y: 0.33160),
            requires_capital_castle: false,
        ),
        (
            id: "site.fire_post_south",
            name: "Fire Post South",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.95603, y: 0.35635),
            requires_capital_castle: false,
        ),
        (
            id: "site.hita_post",
            name: "Hita Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.94431, y: 0.62410),
            requires_capital_castle: false,
        ),
        (
            id: "site.hita",
            name: "Hita",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Dhampirs, Goblins, Orc],
            ),
            center: (x: 0.93600, y: 0.62410),
            requires_capital_castle: false,
        ),
        (
            id: "site.kalitos",
            name: "Kalitos",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Goblins, Orc],
            ),
            center: (x: 0.92916, y: 0.76482),
            requires_capital_castle: false,
        ),
        (
            id: "site.dove_city",
            name: "Dove City",
            category: City,
            size: Large,
            population: (
                tag: Custom,
                peoples: [Human, Goblins, Dhampirs, Elven, Orc],
            ),
            center: (x: 0.84807, y: 0.72834),
            requires_capital_castle: false,
        ),
        (
            id: "site.sutar_town",
            name: "Sutar Town",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Orc],
            ),
            center: (x: 0.75672, y: 0.79218),
            requires_capital_castle: false,
        ),
        (
            id: "site.tathune",
            name: "Tathune",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Goblins, Orc],
            ),
            center: (x: 0.59941, y: 0.78469),
            requires_capital_castle: false,
        ),
        (
            id: "site.levannois_village",
            name: "Levannois Village",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf],
            ),
            center: (x: 0.63263, y: 0.66450),
            requires_capital_castle: false,
        ),
        (
            id: "site.ourez",
            name: "Ourez",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Dhampirs, Goblins, Orc],
            ),
            center: (x: 0.67609, y: 0.54723),
            requires_capital_castle: false,
        ),
        (
            id: "site.trident_dreams",
            name: "Trident Dreams",
            category: Inn,
            size: Minimal,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs, Orc],
            ),
            center: (x: 0.73307, y: 0.62606),
            requires_capital_castle: false,
        ),
        (
            id: "site.trident_post",
            name: "Trident Post",
            category: Post,
            size: Minimal,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.73327, y: 0.62476),
            requires_capital_castle: false,
        ),
        (
            id: "site.naville",
            name: "Naville",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Dhampirs, Goblins],
            ),
            center: (x: 0.65892, y: 0.44365),
            requires_capital_castle: false,
        ),
        (
            id: "site.inebel",
            name: "Inebel",
            category: City,
            size: Large,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.56453, y: 0.49772),
            requires_capital_castle: false,
        ),
        (
            id: "site.belletoile_village",
            name: "Belletoile Village",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.48803, y: 0.46580),
            requires_capital_castle: false,
        ),
        (
            id: "site.le_pont_dargent",
            name: "Le Pont D'argent",
            category: Inn,
            size: Minimal,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.48412, y: 0.44625),
            requires_capital_castle: false,
        ),
        (
            id: "site.rivermore_town",
            name: "Rivermore Town",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven],
            ),
            center: (x: 0.43429, y: 0.39935),
            requires_capital_castle: false,
        ),
        (
            id: "site.rosemire",
            name: "Rosemire",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.37958, y: 0.52704),
            requires_capital_castle: false,
        ),
        (
            id: "site.dromos_city",
            name: "Dromos City",
            category: City,
            size: Large,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Dhampirs, Goblins, Orc],
            ),
            center: (x: 0.38593, y: 0.55700),
            requires_capital_castle: false,
        ),
        (
            id: "site.mazon_town",
            name: "Mazon Town",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Goblins],
            ),
            center: (x: 0.36053, y: 0.63322),
            requires_capital_castle: false,
        ),
        (
            id: "site.maistra",
            name: "Maistra",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Dwarf, Goblins],
            ),
            center: (x: 0.50220, y: 0.64365),
            requires_capital_castle: false,
        ),
        (
            id: "site.fallfair",
            name: "Fallfair",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Goblins],
            ),
            center: (x: 0.46898, y: 0.68534),
            requires_capital_castle: false,
        ),
        (
            id: "site.tenoxitlan",
            name: "Tenoxitlan",
            category: Hamlet,
            size: Large,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Orc],
            ),
            center: (x: 0.35222, y: 0.70456),
            requires_capital_castle: false,
        ),
        (
            id: "site.giva",
            name: "Giva",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human],
            ),
            center: (x: 0.30532, y: 0.35570),
            requires_capital_castle: false,
        ),
        (
            id: "site.levassi",
            name: "Levassi",
            category: Town,
            size: Medium,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.36688, y: 0.31726),
            requires_capital_castle: false,
        ),
        (
            id: "site.neoland",
            name: "Neoland",
            category: City,
            size: Large,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.30386, y: 0.23518),
            requires_capital_castle: false,
        ),
        (
            id: "site.portland",
            name: "Portland",
            category: Town,
            size: Medium,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.21935, y: 0.15570),
            requires_capital_castle: false,
        ),
        (
            id: "site.duren",
            name: "Duren",
            category: City,
            size: Large,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.22669, y: 0.16960),
            requires_capital_castle: false,
        ),
        (
            id: "site.garens_town",
            name: "Garens Town",
            category: Village,
            size: Small,
            population: (
                tag: Human,
                peoples: [Human],
            ),
            center: (x: 0.16659, y: 0.21954),
            requires_capital_castle: false,
        ),
        (
            id: "site.andiran",
            name: "Andiran",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Goblins],
            ),
            center: (x: 0.17196, y: 0.30684),
            requires_capital_castle: false,
        ),
        (
            id: "site.timos",
            name: "Timos",
            category: Village,
            size: Small,
            population: (
                tag: Custom,
                peoples: [Human, Goblins, Orc, Dhampirs],
            ),
            center: (x: 0.13679, y: 0.42866),
            requires_capital_castle: false,
        ),
        (
            id: "site.itos_village",
            name: "Itos Village",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.09282, y: 0.79218),
            requires_capital_castle: false,
        ),
        (
            id: "site.rios_port",
            name: "Rios Port",
            category: Town,
            size: Medium,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Dhampirs],
            ),
            center: (x: 0.15291, y: 0.79414),
            requires_capital_castle: false,
        ),
        (
            id: "site.nugget_field_mines",
            name: "Nugget Field Mines",
            category: Village,
            size: Small,
            population: (
                tag: HumanoidMix,
                peoples: [Human, Elven, Dwarf],
            ),
            center: (x: 0.06790, y: 0.85863),
            requires_capital_castle: false,
        ),
        (
            id: "site.vaelindra_dorei",
            name: "Vaelindra Dorei",
            category: City,
            size: VeryLarge,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.43136, y: 0.12704),
            requires_capital_castle: false,
        ),
        (
            id: "site.morhe_dorei",
            name: "Morhe Dorei",
            category: Town,
            size: Medium,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.41182, y: 0.11922),
            requires_capital_castle: false,
        ),
        (
            id: "site.meyenahone",
            name: "Meyenahone",
            category: Town,
            size: Medium,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.42208, y: 0.15961),
            requires_capital_castle: false,
        ),
        (
            id: "site.elynshara",
            name: "Elynshara",
            category: Town,
            size: Medium,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.47777, y: 0.11401),
            requires_capital_castle: false,
        ),
        (
            id: "site.wanora",
            name: "Wanora",
            category: Town,
            size: Medium,
            population: (
                tag: Elven,
                peoples: [Elven],
            ),
            center: (x: 0.46947, y: 0.15635),
            requires_capital_castle: false,
        ),
        (
            id: "site.malicious_haven.alice.zha_lloig_rhaz",
            name: "Zha’Lloig-Rhaz",
            category: Hamlet,
            size: Small,
            population: (
                tag: Human,
                peoples: [Human],
                future_peoples: ["snake_folk", "aberrations", "lloigor"],
            ),
            center: (x: 0.07084, y: 0.58632),
            requires_capital_castle: false,
        ),
        (
            id: "site.malicious_haven.susy.thlug_nyarr",
            name: "Thlûg-Nyarr",
            category: Hamlet,
            size: Small,
            population: (
                tag: Human,
                peoples: [Human],
                future_peoples: ["snake_folk", "aberrations", "lloigor"],
            ),
            center: (x: 0.04006, y: 0.59935),
            requires_capital_castle: false,
        ),
        (
            id: "site.malicious_haven.elena.vhorr_azhal",
            name: "Vhôrr-Azhal",
            category: Hamlet,
            size: Small,
            population: (
                tag: Human,
                peoples: [Human],
                future_peoples: ["snake_folk", "aberrations", "lloigor"],
            ),
            center: (x: 0.03859, y: 0.55766),
            requires_capital_castle: false,
        ),
        (
            id: "site.malicious_haven.merid.gha_rrul_uth",
            name: "Gha’rrul-Uth",
            category: Hamlet,
            size: Small,
            population: (
                tag: Human,
                peoples: [Human],
                future_peoples: ["snake_folk", "aberrations", "lloigor"],
            ),
            center: (x: 0.07914, y: 0.61954),
            requires_capital_castle: false,
        ),
        (
            id: "site.the_sapphire_pillow",
            name: "The Sapphire Pillow",
            category: Inn,
            size: Minimal,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.27553, y: 0.20130),
            requires_capital_castle: false,
        ),
        (
            id: "site.the_fish_journey",
            name: "The Fish Journey",
            category: Inn,
            size: Minimal,
            population: (
                tag: Custom,
                peoples: [Human, Elven, Dwarf, Goblins, Dhampirs],
            ),
            center: (x: 0.47728, y: 0.29772),
            requires_capital_castle: false,
        ),
    ],
)
