(
    schema: "xindeler_open_world.authored_bridges.v1",
    coordinate_space: "normalized_map_xy_top_left_origin",
    bridges: [
        (
            id: "bridge.kalthis_duren",
            name: "Kalthis-Duren Crossing",
            style: GrandStoneIron,
            start: (x: 0.23498, y: 0.16482),
            end: (x: 0.22032, y: 0.17264),
            deck_width_m: 17.0,
            deck_clearance_m: 12.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.cobalt_waters_01",
            name: "Cobalt Waters Crossing I",
            style: StoneArch,
            start: (x: 0.18564, y: 0.21303),
            end: (x: 0.17391, y: 0.22736),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.cobalt_waters_02",
            name: "Cobalt Waters Crossing II",
            style: StoneArch,
            start: (x: 0.20371, y: 0.29902),
            end: (x: 0.19687, y: 0.31596),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.silver_forest_01",
            name: "Silver Forest Crossing I",
            style: TimberFootbridge,
            start: (x: 0.36199, y: 0.31140),
            end: (x: 0.34880, y: 0.31792),
            deck_width_m: 5.0,
            deck_clearance_m: 3.0,
            deck_thickness_m: 2.0,
        ),
        (
            id: "bridge.silver_forest_02",
            name: "Silver Forest Crossing II",
            style: TimberFootbridge,
            start: (x: 0.30777, y: 0.35635),
            end: (x: 0.29458, y: 0.36287),
            deck_width_m: 5.0,
            deck_clearance_m: 3.0,
            deck_thickness_m: 2.0,
        ),
        (
            id: "bridge.western_lowlands_01",
            name: "Western Lowlands Crossing I",
            style: TimberFootbridge,
            start: (x: 0.24426, y: 0.37459),
            end: (x: 0.23107, y: 0.38046),
            deck_width_m: 5.0,
            deck_clearance_m: 3.0,
            deck_thickness_m: 2.0,
        ),
        (
            id: "bridge.western_lowlands_02",
            name: "Western Lowlands Crossing II",
            style: NaturalStoneEarth,
            start: (x: 0.13727, y: 0.37134),
            end: (x: 0.13727, y: 0.39218),
            deck_width_m: 5.0,
            deck_clearance_m: 3.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.sapphire_loch",
            name: "Sapphire Loch Crossing",
            style: StoneArch,
            start: (x: 0.43869, y: 0.38046),
            end: (x: 0.43478, y: 0.40130),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.le_pont_dargent_north",
            name: "Le Pont D'Argent North",
            style: StoneArch,
            start: (x: 0.49194, y: 0.42801),
            end: (x: 0.48852, y: 0.45016),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.le_pont_dargent_south",
            name: "Le Pont D'Argent South",
            style: StoneArch,
            start: (x: 0.48705, y: 0.43974),
            end: (x: 0.49634, y: 0.45928),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.rios_port_west",
            name: "Rios Port West Crossing",
            style: StoneArch,
            start: (x: 0.10259, y: 0.79414),
            end: (x: 0.08842, y: 0.78697),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
        (
            id: "bridge.rios_port_east",
            name: "Rios Port East Crossing",
            style: StoneArch,
            start: (x: 0.11578, y: 0.79805),
            end: (x: 0.10405, y: 0.78306),
            deck_width_m: 6.0,
            deck_clearance_m: 5.0,
            deck_thickness_m: 3.0,
        ),
    ],
)
