BasicRanged(
    energy_cost: 70,
    buildup_duration: 0.5,
    recover_duration: 0.35,
    projectile: (
        kind: Explosive(radius: 1.5, min_falloff: 0.5, reagent: Some(Red), terrain: None),
        attack: Some((damage: 20, energy: Some(5), damage_kind: Necrotic)),
    ),
    projectile_body: Object(BoltFire),
    projectile_speed: 70.0,
    num_projectiles: Value(1),
    meta: (school: Some(Hemomancy), form: Some(Evocation), source: Some(Arcane), cooldown: Some(16.0), hp_cost: Some(3.0)),
)
